/* Root */
*,
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

/* Bagian Hero Section */
.hero-section {
  background-image: url(assets/img/img1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh; /* ini agar gambar fullscren*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.hero-section h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero-section p {
  font-size: 1.25rem;
}

.form-control:focus {
  border-color: orange;
  box-shadow: 0 0 10px rgba(255, 165, 0, 0.8);
}

/* Gallery */
.portfolio-menu {
  text-align: center;
}
.portfolio-menu ul li {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;
  -webkit-transition: all 05s ease;
  -moz-transition: all 05s ease;
  -ms-transition: all 05s ease;
  -o-transition: all 05s ease;
  transition: all 0.5s ease;
}
.portfolio-item .item {
  /*width:303px;*/
  float: left;
  margin-bottom: 10px;
}
